body {
  background-color: orange;
}
a {
  /*
    1 - padding-top, padding-bottom
2 - margin-top, margin-bottom
3 - width, height , min-width, min-height
*/
  display: inline-block;
  padding: 30px;
  border: 1px none none;
  border-radius: 999px;
  margin-top: 30px;
  margin: 20px;
  text-decoration: none;
  background-color: darkmagenta;
  color: yellow;
}
/* sử dụng bài 33 để làm phần tiếp theo  */
a:hover {
  background-color: blue;
  color: aquamarine;
}
