.deptrai {
  margin: 5rem;
  font-size: 4rem;
  color: palegoldenrod;
  background-color: aquamarine;
  /* khóa lại trong  lớp deptrai */
  /* position: relative; */
}
.message {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: red;
  border-radius: 30px;
  color: yellow;
  position: absolute;
  left: 2;
  top: -34;
}
