.noidung {
  margin-bottom: 500px;
}
.noidung img {
  width: 500px;
}

.box1,
.box4,
.box5 {
  background-color: #008cff;
}
.box2,
.box3 {
  background-color: red;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 100px repeat(2, 50px);
  grid-template-rows: repeat(2, 100px);
  gap: 5px;
  align-items: start;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.mother {
  margin-top: 500px;
  background-color: #ccb5b5;
  display: inline-grid;
  gap: 5px;
}
.item1 {
  background-color: #69fa62;
}
.item2 {
  background-color: aqua;
}
.item3 {
  background-color: #fd7fec;
}
.item4 {
  background-color: #926c47;
  grid-area: menu;
}
.item5 {
  background-color: #004605;
}
.item6 {
  background-color: #558b54;
}
